
.Banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    color: $segundocolor;
    text-align: center;
    
    &-Articulo {
        width: 60%;
        margin: 0 auto;
        padding-top: 20px ;
        padding-bottom: 20px;
        
    
    }
    &-Titulo {
        font-size: $bannertitulo;
    }
    
    &-Parrafo {
        font-size: $bannerparrafo;
        line-height: 20px;
        
    }
    
}